# Build output
/optiflop
/obj/*.o
/inc/*.h.gch

# configure output
/config.log
/config.status
/Makefile
/inc/config.h
/inc/config.h.in~

# Autoconf output
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/configure~
/inc/config.h.in
/inc/config.h.in~
